[default]
maxretry  = 3
findtime  = 1d
bantime   = 1d

[sshd]
enabled   = true
port      = ssh, {{ ssh_port }}
maxretry  = 3
findtime  = 1d
bantime   = 4w

[sshd-ddos]
enabled   = true
port      = ssh, {{ ssh_port }}
filter    = sshd