{
  "id": 0,
  "name": "{{ item.name }}",
  "type": {{ item.type }},
  "folders": ["/data/{{ item.folder }}"],
  "folderWatching": true,
  "includeInDashboard": true,
  "includeInSearch": true,
  "manageCollections": false,
  "manageReadingLists": false,
  "allowScrobbling": false,
  "allowMetadataMatching": false,
  "enableMetadata": true,
  "removePrefixForSortName": false,
  "inheritWebLinksFromFirstChapter": false,
  "defaultLanguage": "en",
  "fileGroupTypes": [1, 2, 3, 4],
  "excludePatterns": []
}
