---
###############################################################
#                   Authelia configuration                    #
###############################################################

jwt_secret: {{ authelia.jwt_secret }}
default_redirection_url: https://{{ authelia.subdomain }}.{{ domain }}

server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug

totp:
  issuer: authelia.com

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    # Rules applied to everyone
    #- domain: public.{{ domain }}
    #  policy: bypass
    #- domain: secure.example.com
    #  policy: two_factor
    - domain: {{ domain }}
      policy: one_factor
    - domain: traefik.{{ domain }}
      policy: one_factor
    - domain: whoami.{{ domain }}
      policy: one_factor

session:
  name: authelia_session
  secret: unsecure_session_secret
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  domain: {{ domain }}  # Should match whatever your root protected domain is

  redis:
    host: redis
    port: 6379
    # password: authelia

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3

notifier:
  smtp:
    disable_require_tls: true
    subject: "[Authelia] {title}"
    startup_check_address: {{ authelia.notification_email_to }}
    username: {{ authelia.notification_email_server_user }}
    password: {{ authelia.notification_email_server_password }}
    host: {{ authelia.notification_email_server }}
    port: {{ authelia.notification_email_server_port }}
    sender: {{ authelia.notification_email_from }}