---
###############################################################
#                         Users Database                      #
###############################################################

# List of users
users:
  authelia:
    displayname: "Authelia User"
    # Password is authelia
    password: "{{ user | password_hash('sha512') }}"
    email: authelia@authelia.com
    groups:
      - admins
      - dev