---
###############################################################
#                         Users Database                      #
###############################################################

# List of users
users:
  {{ authelia.username }}:
    displayname: "{{ authelia.displayname }}"
    password: "{{ authelia.password | password_hash('sha512') }}"
    email: "{{ authelia.email }}"
    groups:
      - admins
      - dev