---
###############################################################
#                         Users Database                      #
###############################################################

# List of users
users:
  authelia:
    displayname: "Authelia User"
    # Password is authelia
    password: "$argon2id$v=19$m=64,t=1,p=8$VWNSdTFQNWpyMkN5bG90YQ$UcvKceX6VnriVdD0I6kDbg"
    email: authelia@authelia.com
    groups:
      - admins
      - dev