{
  "isCalibreLibrary": false,
  "host": "localhost",
  "port": 8080,
  "useSsl": false,
  "outputProfile": "default",
  "defaultTags": [],
  "defaultQualityProfileId": 1,
  "defaultMetadataProfileId": 1,
  "name": "Main",
  "path": "/data/media/books/"
}